`<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="page-title"><%= t('.title') %></div>

    <div class="introduction"><%= t('.introduction') %></div>
    <a href="javascript:window.open('<%=new_bookmark_url(protocol: (Rails.env.production? ? 'https' : 'http'))%>?url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title)+'&description='+encodeURIComponent(window.getSelection())+'&v=<%= Settings.bookmarklet.current_version%>'+'&layout=popup', 'Wundermarks - Add bookmark','width=800,height=600,scrollbars=yes,status=no,titlebar=no,toolbar=no');void(0);" class="btn btn-primary move"><%= t('.link_title') %><%= ' - dev' if Rails.env.development? %></a>

    <div class="instructions">
      <div class="installation">
        <%= t('.instructions.installation_html') %>
        <a href="#installation-video" class="btn btn-default" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="installation-video"><%= t(".instructions.see_tutorial")%></a>
        <div class="collapse" id="installation-video">
          <div class="help-video">
            <%= image_tag("help/add_bookmarklet.gif") %>
          </div>
        </div>
      </div>
      <div class="usage">
        <%= t('.instructions.usage_html') %>
        <a href="#usage-video" class="btn btn-default" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="usage-video"><%= t(".instructions.see_tutorial")%></a>
        <div class="collapse" id="usage-video">
          <div class="help-video">
            <%= image_tag("help/use_bookmarklet.gif") %>
          </div>
        </div>
      </div>
    </div>
  </div>`
</div>
