<%= form_for(@bookmark) do |f| %>
<%= render partial: 'shared/form_errors', locals: { resource: @bookmark, full_message: true } %>

<div class="form-group">
  <%= f.label :title, class: 'control-label' %>
  <%= f.text_field :title, class: 'form-control', autofocus: true, maxlength: Bookmark::MAX_TITLE_LENGTH, autocomplete: 'off' %>
  <div id="bookmark_title_help" class="help-block"><%= t(".title_length") %>: <strong><span class="title-length"><%= @bookmark.title.try(:size) || 0 %></span>/<%= Bookmark::MAX_TITLE_LENGTH %></strong> <%= t(".max") %></div>
</div>

<div class="form-group">
  <%= f.label :url, class: 'control-label' %>
  <%= f.text_field :url, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :description, class: 'control-label' %>
  <%= f.text_area :description, class: 'form-control', maxlength: Bookmark::MAX_DESCRIPTION_LENGTH %>
  <div id="bookmark_description_help" class="help-block"><%= t(".description_length") %>: <strong><span class="description-length"><%= @bookmark.description.try(:size) || 0 %></span>/<%= Bookmark::MAX_DESCRIPTION_LENGTH %></strong> <%= t(".max") %></div>
</div>

<div class="form-group">
  <%= f.label :privacy, class: 'control-label' %>
  <%= f.select :privacy, Bookmark.privacies.keys.to_a.map { |p| [t("activerecord.enums.models.bookmark.privacy.#{p}_help"), p]}, {}, class: 'form-control'  %>
</div>

<div class="form-group has-feedback">
  <%= f.label :tag_list, class: 'control-label' %>
  <%= f.text_field :tag_list, value: @bookmark.tag_list.to_s, class: 'tag-autocomplete form-control', 'aria-describedBy': 'tag_list_help', placeholder: t('.tag_list_placeholder'), autocomplete: 'off', 'data-multiple':'data-multiple' %>
  <span id="tag_list_help" class="help-block"><%= t('.tag_list_help')%></span>
</div>

<div class="actions hidden-xs hidden-sm">
  <%= f.submit class: 'btn btn-primary' %>
  <% unless @layout == 'popup' %>
  <%= link_to t(".back_to_bookmarks"), bookmarks_path, class: 'btn btn-default pull-right' %>
  <% end %>
</div>

<div class="actions hidden-md hidden-lg">
  <%= f.submit class: 'btn btn-primary btn-block btn-lg' %>
  <% unless @layout == 'popup' %>
  <%= link_to t(".back_to_bookmarks"), bookmarks_path, class: 'btn btn-default btn-lg btn-block' %>
  <% end %>
</div>
<% end %>
