<div class="row main-actions">
  <div class="actions col-md-7 col-md-push-5">
    <%= link_to "<span class='glyphicon glyphicon-plus' aria-hidden='true'></span> #{t('.action.new_bookmark')}".html_safe, new_bookmark_path, class: 'btn btn-primary' %>
  </div>
  <div class="search col-md-5 col-md-pull-7">
    <%= form_tag({controller: 'bookmarks', action: 'index'}, method: 'get') do %>
      <div class="input-group">
        <%= search_field_tag(:q, @q, class: 'form-control', 'aria-describedby': "search_help", placeholder: t(".search.placeholder")) %>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default">
            <span class='glyphicon glyphicon-search' aria-hidden='true'></span> <%= t('.action.search') %>
          </button>
        </span>
      </div>
      <span id="search_help" class="help-block hidden-xs hidden-sm"><%= t(".search.help")%></span>
    <% end %>
  </div>
</div>

<% @bookmarks.in_groups_of(2).each do |bookmark_group| %>
  <div class="row">
    <% bookmark_group.each do |bookmark| %>
      <% if bookmark %>
        <div class="col-md-6">
          <%= render partial: "bookmarks/bookmark_item", locals: {bookmark: bookmark, action: 'index'} %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
