<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2><%= t('.title') %></h2>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-group">
        <%= f.label :password, t(".new_password") %>
        <%= f.password_field :password, autofocus: true, class: 'form-control input-lg', autocomplete: "off", 'aria-describedby': "helpPassword" %>
        <% if @minimum_password_length %>
          <span id="helpPassword" class="help-block"><%= t(".min_characters", count: @minimum_password_length) %></span>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, t(".confirm_new_password") %>
        <%= f.password_field :password_confirmation, class: 'form-control input-lg', autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit t(".actions.change"), class: 'btn btn-primary btn-lg hidden-xs hidden-sm' %>
        <%= f.submit t(".actions.change"), class: 'btn btn-primary btn-lg btn-block hidden-md hidden-lg' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
