<div class="bookmark-list-with-date">
  <% last_printed_date = nil %>

  <% if bookmarks.size > 0 %>
  <% @bookmarks.each_with_index do |bookmark, index| %>

  <% date = bookmark.created_at.to_date %>
  <% first_of_group = last_printed_date != date %>
  <% last_of_group = (date != bookmarks[[index + 1, bookmarks.size - 1].min].created_at.to_date) %>

  <% if first_of_group %>
  <div class="date-group<%= ' first' if last_printed_date.nil? %>">
    <div class="date"><%= bookmark_list_date(date) %></div>
    <% last_printed_date = date %>
    <% end %>

    <div class="bookmark-card<%= ' first-of-group' if first_of_group %><%= ' last-of-group' if last_of_group %>">
      <div class="header">
        <div class="title"><%= link_to bookmark.title, bookmark_permalink(bookmark) %></div>
        <div class="link"><%= link_to bookmark.url.truncate(80), bookmark_url(bookmark, redirect: 1), target: '_blank', rel: 'nofollow noopener noreferrer' %></div>
      </div>

      <% if bookmark.description.present? %>
      <div class="description"><%= text_to_html bookmark.description.truncate(100) %></div>
      <% end %>

      <div class="footer<%= ' no-description' if bookmark.description.blank? %>">
        <div class="row">
          <div class="user-date col-md-9 col-sm-9">
            <a href="<%= user_profile_permalink(bookmark.user.user_profile) %>" class="user"><span class="name"><%= bookmark.user.user_profile.name %></span>
              <% if bookmark.user.user_profile.username.present? %>
              <span class="username"><em>@</em><%= bookmark.user.user_profile.username %></span>
              <% end %>
            </a>
            <time class="time-ago light-tooltip" datetime="<%= bookmark.created_at %>" data-toggle="tooltip" data-placement="top" title="<%= l(bookmark.created_at, format: :long) %>"><%= bookmark_time_ago(bookmark.created_at) %></time>
          </div>
          <div class="actions col-md-3 col-sm-3">
            <% unless current_user.try(:id) == bookmark.user_id %>
            <a href="<%= copy_bookmark_path(id: bookmark.id) %>" class="light-tooltip" aria-label="<%= t("bookmarks.actions.copy") %>" data-toggle="tooltip" data-placement="left" title="<%= t("bookmarks.actions.copy") %>"><i class="material-icons md-24 md-dark" aria-hidden="true">library_add</i></a>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <% if last_of_group %>
  </div>
  <% end %>

  <% end %>
</div>
<%= render partial: "shared/pagination", locals: {resource: @bookmarks} %>
<% end %>
