<% last_printed_date = nil %>
<% bookmark_count = bookmarks.size %>

<% if bookmark_count > 0 %>
<% @bookmarks.each_with_index do |bookmark, index| %>

<% date = bookmark.created_at.to_date %>
<% first_of_group = last_printed_date != date %>
<% last_of_group = (date != bookmarks[[index + 1, bookmark_count - 1].min].created_at.to_date) %>

<% if first_of_group %>
<div class="date-group<%= ' first' if last_printed_date.nil? %>">
  <div class="date"><%= bookmark_list_date(date) %></div>
  <% last_printed_date = date %>
  <% end %>

  <div class="bookmark<%= ' first-of-group' if first_of_group %><%= ' last-of-group' if last_of_group %>">
    <div class="header">
      <div class="title"><%= link_to bookmark.title, bookmark_permalink(bookmark) %></div>
      <div class="link"><%= link_to bookmark.url.truncate(80), bookmark_url(bookmark, redirect: 1), target: '_blank' %></div>
    </div>
    <% if bookmark.description.present? %>
    <div class="description"><%= text_to_html bookmark.description.truncate(100) %></div>
    <% end %>
    <div class="footer<%= ' no-description' if bookmark.description.blank? %>">
      <div class="user-date">
        <a href="<%= user_profile_permalink(bookmark.user.user_profile) %>" class="user"><span class="name"><%= bookmark.user.user_profile.name %></span>
          <% if bookmark.user.user_profile.username.present? %>
          <span class="username"><em>@</em><%= bookmark.user.user_profile.username %></span>
          <% end %>
        </a>
        <span class="time-ago"><%= bookmark_time_ago(bookmark.created_at) %></span>
      </div>
    </div>
  </div>

  <% if last_of_group %>
</div>
<% end %>

<% end %>

<%= render partial: "shared/pagination", locals: {resource: @bookmarks} %>
<% end %>
