<div class="bookmark-item panel panel-default">
  <div class="panel-heading">
    <div class="title"><%= link_to bookmark.title, bookmark_permalink(bookmark) %></div>
  </div>
  <div class="panel-body">
    <div class="link"><%= link_to bookmark.url, bookmark.url, target: '_blank' %></div>
    <div class="description"><%= simple_format bookmark.description %></div>
    <div class="user"><%= link_to bookmark.user.user_profile.name, user_profile_path(bookmark.user.user_profile.id) %></div>
  </div>
  <div class="panel-footer">
    <div class="tags">
      <% if bookmark.tag_list.present? %>
        <% tags_count = bookmark.tag_list.count %>
        <% bookmark.tag_list.each_with_index do |tag, index| %>
          <%= link_to tag, root_path(q: tag), class: 'tag' %>
        <% end %>
      <% else %>
        &nbsp;
      <% end %>
    </div>
  </div>
</div>
