<div class="row home-navbar">
  <div class="col-md-12">
    <span class="logo">W</span>
    <div class="actions">
      <% if current_user %>
        <%= link_to t(".navbar.feed"), feed_path, class: 'btn btn-default' %>
      <% else %>
        <%= link_to t(".navbar.sign_in"), new_user_session_path, class: 'btn btn-default' %>
      <% end %>
    </div>
  </div>
</div>

<div class="row teaser">
  <div class="col-md-12">
    <div class="row brand">
      <div class="col-md-12">
        <span class="first-letter">W</span>undermarks
      </div>
    </div>
    <div class="row sign_in hidden-sm hidden-md hidden-lg">
      <div class="col-md-12">
        <%= link_to "Sign in", new_user_session_path, class: 'btn btn-default btn-lg btn-block' %>
        <p class="or">or</p>
      </div>
    </div>
    <div class="row register">
      <%= render partial: "mini_registration_form" %>
    </div>
  </div>
</div>

<div class="row explanations">
  <div class="col-sm-4 col-md-4 explanation love-it">
    <div class="content">
      <div class="title"><%= t(".explanations.love_it.title") %></div>
      <p><%= t(".explanations.love_it.content") %></p>
    </div>
  </div>
  <div class="col-sm-4 col-md-4 explanation save-it">
    <div class="content">
      <div class="title"><%= t(".explanations.save_it.title") %></div>
      <p><%= t(".explanations.save_it.content") %></p>
    </div>
  </div>
  <div class="col-sm-4 col-md-4 explanation share-it">
    <div class="content">
      <div class="title"><%= t(".explanations.find_it.title") %></div>
      <p><%= t(".explanations.find_it.content") %></p>
    </div>
  </div>
</div>

<div class="promises">
  <div class="row promise safe">
    <div class="col-sm-3 col-md-3 col-md-offset-1 icon">
      <%= inline_svg 'icons/noun_564854_cc.svg', title: 'Bank vault by Icon Fair from the Noun Project' %>
    </div>
    <div class="col-sm-9 col-md-6 description">
      <div class="title"><%= t(".promises.keep_safe.title") %></div>
      <p><%= t(".promises.keep_safe.content") %></p>
    </div>
  </div>
  <div class="row promise access">
    <div class="col-md-3 icon visible-xs">
      <%= inline_svg 'icons/noun_565021_cc.svg', title: 'Globe by Icon Fair from the Noun Project' %>
    </div>
    <div class="col-sm-9 col-md-6 col-md-offset-2 description">
      <div class="title"><%= t(".promises.access.title") %></div>
      <p><%= t(".promises.access.content") %></p>
    </div>
    <div class="col-sm-3 col-md-3 icon hidden-xs">
      <%= inline_svg 'icons/noun_565021_cc.svg', title: 'Globe by Icon Fair from the Noun Project' %>
    </div>
  </div>
  <div class="row promise privacy">
    <div class="col-sm-3 col-md-3 col-md-offset-1 icon">
      <%= inline_svg 'icons/noun_484233_cc.svg', title: 'Invisible by Gregor Črešnar from the Noun Project' %>
    </div>
    <div class="col-sm-9 col-md-6 description">
      <div class="title"><%= t(".promises.privacy.title") %></div>
      <p><%= t(".promises.privacy.content") %></p>
    </div>
  </div>

  <div class="row register-bottom">
    <div class="sign_in hidden-sm hidden-md hidden-lg">
      <div class="col-md-12">
        <%= link_to "Sign in", new_user_session_path, class: 'btn btn-default btn-lg btn-block' %>
        <p class="or">or</p>
      </div>
    </div>
    <%= render partial: "mini_registration_form" %>
  </div>
</div>
