<div class="profile-item panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-12">
        <div class="name"><%= profile.name %></div>
        <% if profile.username.present? %>
        <div class="username"><%= link_to "@#{profile.username}", user_profile_permalink(@profile), class: 'user_profile_permalink' %></div>
        <% elsif profile.user == current_user %>
          <div class="create_username"><%= t(".no_username_html", reserve: link_to(t('.no_username_reserve'), edit_current_user_profile_path) ) %></div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <%= text_to_html profile.introduction %>
  </div>
  <div class="panel-footer">
    <%= t(".member_since", days: (Time.now.to_date - profile.created_at.to_date).to_i) %>
  </div>
</div>
