<% if @public_profile %>
  <div class="row">
    <div class="col-md-12">
      <div class="hidden-md hidden-lg">
        <div class="user-profile">
          <%= render partial: 'user_profile' %>
        </div>
      </div>
      <div class="profile-bar">
        <%= render partial: 'user_profile_bar' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 hidden-xs hidden-sm">
      <div class="user-profile">
        <%= render partial: 'user_profile' %>
      </div>
    </div>
    <div class="col-md-8 col-sm-12">
      <%= render partial: 'shared/bookmark_list_with_date', locals: {bookmarks: @bookmarks} %>
    </div>
  </div>
<% else %>
  <%= render partial: 'private_user_profile' %>
<% end %>
