<div class="page-header">
  <h1><%= t('.title') %></h1>
</div>

<table class="table table-striped table-bordered">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Total Bookmarks</th>
    <th>Last 30 days</th>
    <th>Last 7 days</th>
    <th>8-14 days</th>
    <th>15-21 days</th>
    <th>22-29 days</th>
  </tr>
<% @user_data.each do |user| %>
<% if user[:last_visit] && user[:last_visit] > 1.week.ago %>
  <tr class="success">
<% elsif user[:last_visit] && user[:last_visit] > 1.month.ago %>
  <tr class="warning">
<% else %>
  <tr class="danger">
<% end %>
    <td><%= user[:id] %></td>
    <td><%= user[:name] %></td>
    <td><%= mail_to "#{user[:name]} <#{user[:email]}>", user[:email] %></td>
    <td><%= user[:total_bookmarks] %></td>
    <td><%= user[:bookmark_count_month] %></td>
    <td><%= user[:bookmark_count_week_0] %></td>
    <td><%= user[:bookmark_count_week_1] %></td>
    <td><%= user[:bookmark_count_week_2] %></td>
    <td><%= user[:bookmark_count_week_3] %></td>
  </tr>
<% end %>
</table>
