<%= form_for(@email) do |f| %>
  <%= render partial: 'shared/form_errors', locals: { resource: @email, full_message: true } %>

  <div class="form-group">
    <%= f.label :from, class: 'control-label' %>
    <%= f.email_field :from, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :subject, class: 'control-label' %>
    <%= f.text_field :subject, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :text, class: 'control-label' %>
    <%= f.text_area :text, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary btn-block btn-lg hidden-md hidden-lg' %>
    <%= f.submit class: 'btn btn-primary btn-lg hidden-xs hidden-sm' %>
  </div>
<% end %>
