<div class="row title">
  <div class="col-md-8 col-md-offset-2">
    <%= t(".title") %>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p class="message"><%= t(".message") %></p>

    <div class="email">
      <p class="from"><strong><%= Email.human_attribute_name(:from) %>:</strong> <%= @email.from %></p>
      <p class="subject"><strong><%= Email.human_attribute_name(:subject) %>:</strong> <%= @email.subject %></p>
      <p class="text"><strong><%= Email.human_attribute_name(:text) %>:</strong><br/><%= simple_format @email.text %></p>
    </div>

    <div class="actions">
      <%= link_to t(".actions.back"), root_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
