<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wundermarks</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= "c-#{params[:controller].parameterize} a-#{params[:action].parameterize}" %>">
    <%= render "shared/navigation_bar" %>

    <div class="container">
      <% if flash.present? %>
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
            <% if flash[:notice] %>
              <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
            <% end %>
            <% if flash[:error] %>
              <div class="alert alert-danger"><%= flash[:error] %></div>
            <% end %>
          </div>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
